%p Wingmaze Education was formed by a group of passionate doctors, PhD students and medical students.
%br
%p
  We were motivated to create a truly unique education centre following the overwhelmingly positive feedback we received from high school and university students we tutored.
%br
%p
  The experience we gained, both by tutoring students and studying subjects at a university level, allowed us to construct superior notes that comprehensively cover all aspects of the syllabus.
%br
%p We know what it takes to succeed, and want our students to do the same!