%p Wingmaze Education is a new and ambitious tutoring centre than prides itself on employing the best tutors.
%br
%p Wingmaze employee benefits include superior pay, regular work, and being part of a highly motivated team.
%br
%p 
  If you want to join our rapidly growing team, send your CV and contact details to 
  = link_to "contact@wingmazeeducation.com", "mailto:contact@wingmazeeducation.com  "
%br
%p Please note that you must list relevant tutoring experience to be considered.