%p Please do not hestitate to contact Wingmaze Education.
%br
%p
  Prospective students or parents can contact Wingmaze Education by e-mailing 
  = link_to "contact@wingmazeeducation.com ", "mailto:contact@wingmazeeducation.com "
  or by calling 0413 933 645.
%br
%p 
  Prospective employees should e-mail their CV and contact information to 
  = link_to "contact@wingmazeeducation.com", "mailto:contact@wingmazeeducation.com"