%p
  Wingmaze Education students benefit from our unique learning system that ensures they thoroughly understand course material, maximising their marks in the process.
%br

%h3 Teachers
%p
  We have recruited the best teachers, who have a superb understanding of all course material. Teachers clearly and patiently explain course material using outstanding notes compiled by Wingmaze Education.
%br

%h3 Syllabus Booklets
%p
  Each week students receive booklets prepared by Wingmaze Education, which comprehensively cover each aspect of the syllabus. These are accompanied by complementary question booklets.
%br

%h3 Question Booklets
%p
  Each week students also receive question booklets prepared by Wingmaze Education, which test student understanding of a topic. These questions familiarise students with questions they are likely to face in an exam, giving them the confidence and understanding they need to succeed in exams.
%br

%h3 Free 1-on-1 Workshops
%p
  If students still have any questions about course material, they may book a FREE 1-on-1 workshop. These lessons involve ONLY the student and tutor, allowing the student to ask any question about course material, ensuring students sit their exams with maximum confidence and understanding.